require: sudo
language: node_js
services:
  - docker
env:
    - DOCKER_IMAGE=prodest/node-pushserver SERVICE_NAME=node-pushserver RANCHER_URL=http://cloud.datacenter.es.gov.br.local/v1/projects/1a4680 RANCHER_STACK=pushserver RANCHER_COMPOSE_URL=http://cloud.datacenter.es.gov.br.local/v1/projects/1a4680/environments/1e94/composeconfig
script: 
  /bin/sh travis.sh
deploy:
  provider: script
  skip_cleanup: true
  script: /bin/sh deploy.sh
  on:
    branch: master
